div {
    max-width: 1600px;
}
content {
    margin: 0% auto;
}
.center {
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#background {
    height: 725;
    background-color: grey;
}
body{
    background-color: white;
    text-align: center;
}
header{
    background-color: rgba(20, 30, 13, .7);
}
nav a:hover{
    background-color: black;
    color: skyblue;
}
.book:hover, .join:hover {
    background-color: white;
    color: aqua;
}
.msg {
    background-color: grey;
}
footer {
    background-color: #476930;
    color: darkgrey;
}
nav a {
    color: blue;
    text-decoration: none;
}
.home-tiile {
    color: grey;
}
h4{
    color: lightgray;
}
.book, .join {
    color: blue;
    text-decoration: none;
}
.msg h2{
    color: cornflowerblue;
}
.msg p {
    color: cadetblue;
}
footer a:hover {
    color: darkgreen;
}
.icon {
    width:  60px
}
footer a {
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}